.provide-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.team-detail-card{
    background-color: white;
    border-left: 2rem solid royalblue;
    border-radius: .25rem;
    padding: .5rem .5rem .5rem .5rem;
}

.team-detail-card > div{
    margin-bottom: 1rem;
}
