
.rating-theme{
    color: royalblue;
}

.blank-theme{
    color: rgba(206, 206, 206, 0.578);
}

.fire-brick-theme{
    color: firebrick;
}

.yellow-green-theme{
    color: yellowgreen;
}



