.text-class{
    overflow: hidden;
    text-overflow: ellipsis;
}

.member-list-card{
    border-bottom: 1px solid #dddbda;
    border-radius: .25rem;
    background-color: white;
    vertical-align: middle;
}

.member-not-selected:hover{
    border-left: 3px solid royalblue;
    cursor: pointer;
}

.member-not-selected{
    border-left: 3px solid white;
    transition: border-left 1s ease;
}

.member-selected{
    border-left: 5px solid royalblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

